@model Book

@{
    ViewData["Title"] = "";
   
    
    
}

<h1 class ="test"> @Model.Title </h1>

<div class="test">
    <p><strong>@Model.Author</strong></p>
    <p>@Model.Descripton</p>
    <p><strong>@Model.Price</strong></p>
</div>

