
@model Book[]
@{
    ViewData["Title"] = "Результаты поиска";
}

<div class="test">
    <h1>Результаты поиска</h1>
</div>


@if (Model.Length == 0)
{
    <p>Ничего не найдено</p>
}
else
{
    <ul>
        @foreach(Book book in Model)
        {
            <li>
                <a href="@Url.Action("Index", "Book", new {ass = book.Id})">Title is - @book.Title</a>
            </li>

            
        }
    </ul>
}


